<nav class="navbar navbar-expand-lg navbar-dark ">
  <!-- BrandName of our navbar -->
  <a class="navbar-brand">ClickLabs</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav drop">


      <li id="name-drop" class="nav-item dropdown">
        <a class="content nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          
          <b>{{firstName+" "+lastName}}</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- Drop down menu items. -->
          <a class="dropdown-item" (click)="navigateToProfile()">{{firstName+" "+lastName}}</a>
          <hr>
          <a class="dropdown-item" (click)="navigateToBookings()">My Bookings{{totalBookings}}</a>
          <a class="dropdown-item" (click)="navigateToFaqs()">FAQs</a>
          <a class="dropdown-item" (click)="logout()">LogOut</a>

        </div>
      </li>
    </ul>
  </div>
</nav>
<br>


<h3>
  <p class="dynamicHeader">{{header}}</p>
</h3>

<router-outlet></router-outlet>