/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 184, 21);
  }
  
  li {
    float: left;
  }
  .logout{
    cursor: pointer;
  }
 a .brand{
    text-shadow: 0px 80px 15px rgba(253, 16, 16, 0.2);
      
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .link{
    float: right;
  }
  .link:hover, .dropdown:hover .dropbtn {
    background-color: rgb(9, 255, 0);
  }
  i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropbtn:hover{
      cursor: pointer;
  }
  .dropdown-content a {
    color: black;
    padding: 20px -16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dynamicHeader{
      text-align: center;
      color: green;
      text-shadow: 0px 3px 5px  rgba(0,0,0,0.2);

  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 
  .topBar{
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  } */
li
{
  color: red;
  
}
 .drop{
   
    padding-left: 85%;
  }
  .navbar
  {
    background-color: rgb(32, 192, 11);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }
  .dropdown-menu{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }

  .dynamicHeader{
    text-align: center;
    color: green;
    text-shadow: 0px 3px 5px  rgba(0,0,0,0.2);
}
.dropdown-item{
  cursor: pointer;
}