.container{
    width: 80%;
    text-align: center;
    padding:2%;
    margin-left:5%; 
    box-shadow: 2px 2px 12px 5px rgb(4, 134, 4);
}
.booking-button
{
    /* setting up margin of the buttons */
    margin: 8px;
}
