<div class="container">
    <div id="accordion" class="accordion">
        <!-- displaying the data using ngFor -->
        <div class="card mb-0" *ngFor="let x of faq">
            <a class="card-header collapsed" data-toggle="collapse" href="#collapseOne{{x.id}}">
                <div class="card-title">
                    <!-- accordian's heading with heading -->
                    {{x.id}} {{x.ques}}
                </div>
            </a>
            <div id="collapseOne{{x.id}}" class="card-body collapse" data-parent="#accordion">
                <!-- accordian's data -->
                <p>{{x.myfaq}}</p>
            </div>

        </div>
    </div>
</div>