@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }
  .sign-up-heading{
    line-height: 42px;
    padding-top: 30px;
    text-align: center;
}
.container{

    width: 100%;
    text-align: center;
    /* height: 40%; */
    margin-left:5%;
   
      
}
#already-registered a{
    color: #4CAF50;
}
#already-registered {
    /* margin: 15px 0 0; */
    color: #b3b3b3;
    font-size: 12px;
  }
.parent {
    max-width: 50%;
    padding: 1em;
    height: 50%;
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255);
    margin: auto;
    margin-top: 3%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      
  }
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
  }
 
  .grid label{
    display: block;
  }
  .grid p {
    margin: 0;
  }
  input 
  {
  padding: 1em;
  }
#already-registered{
    text-align: center;
}
  .grid input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 60%;
    border: 0.5px solid rgb(149, 152, 156);
    margin: 0 0 ;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 60%;
    border: 0;
    margin-right:10%; 
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }

  .fields{
    /* margin-left: 0%; */
    text-align: left;
    color: rgb(121, 114, 112);
    font-size: 10px;
}
  form button:hover,form button:active,form button:focus {
    background: #43A047;
  }
  
  
  
  
